body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.sumit {
  color: red;
}

.navList {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 10%;
  margin-left: 10%;
}

@media screen and (max-width: 780px) {
  .navList {
    display: flex;

    justify-content: space-between;
    margin-top: 20px;
    margin-right: 0%;
    margin-left: 0%;
  }
}
